<div class="container">
<h1>Help#about</h1>
<p>さばとらのつかいかた。＋ボタンを押すと詳細が見れます。</p>

<div class="space01"></div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="">
		<header>
			<h4>Step1.さばとらに登録しよう！</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>① まずはさばとらに登録しましょう。</p>
			<p>② 画面中央の「さばとらをはじめる」ボタンか、画面右上の <i class="fa fa-smile-o"></i> をクリックしてください。</p>
			<p>③ するとサインアップフォームページに飛びます。必要事項を入力して、「新規登録」ボタンを押してください。<p>
			<p>④ 認証メールが届きます。そこのリンクをクリックしてください。</p>
			<p>⑤ すると、ログインページに飛びます。先ほど登録した情報を入力し、ログインしてください。</p>
			<p>⑥ プロフィール入力ページに飛びます。必要事項を入力し、登録するボタンを押してください。</p>
			<p>⑦ 問題なければ、「実行する」ボタンを押してください。</p>
			<p>⑧ これで初期登録作業が終了しました！　次のステップに移ってください。</p>
		</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="true">
		<header>
			<h4>Step2.コミュニティに参加しよう！</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>① コミュニティに参加しましょう。どのページからでもかまいません。</p>
			<p>② 画面右上の <i class="fa fa-users"></i> をクリックしてください。</p>
			<p>③ するとコミュニティ一覧のページに飛びます。ここから入りたいコミュ名がわかっている場合、そのコミュニティを探し出し、「このコミュニティに参加する」ボタンを押してください。<br>　詳しいコミュニティの内容が知りたい場合、文字リンクか、右端の「表示」ボタンをクリックし、中のページをみてから、そのページ内にある「このコミュニティに参加する」ボタンを押してください。<p>
			<p>④ 入力フォームが出ます。基本は「member」を選択してください。</p>
			<p>　コミュニティの管理人は「administrator」を、オーナーは「owner」を選んでください。</p>
			<p>⑤ コミュニティに参加する際のご挨拶を、コメント欄に記入してください。</p>
			<p>⑥ 「登録する」ボタンを押してください。</p>
			<p>⑦ 確認ページが表示されます。</p>
			<p>⑧ これでコミュニティに参加できました！　次のステップに移ってください。</p>
		</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="true">
		<header>
			<h4>Step3.キャラクターをつくろう！</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>① キャラクターを作成しましょう。まずは登録したコミュニティのトップページに飛んでください。<br>
				　コミュニティのトップページは、コミュニティ一覧から、該当コミュニティの文字リンクをクリックするか、「表示」ボタンクリックで行けます。</p>
			<p>② コミュニティの上部に「立ち絵管理」というボタンがあると思います。それをクリックしてください。</p>
			<p>③ 立ち絵一覧ページが表示されます。「新しく立ち絵を登録する」ボタンをクリックしてください。<p>
			<p>④ 立ち絵登録フォームに飛びます。</p>
			<p>⑤ 立ち絵にわかりやすく名前をつけてください。</p>
			<p>⑥ 説明をつけてください。</p>
			<p>⑦ 画像をアップロードしてください（300x600）</p>
			<p>⑧ 公開範囲を指定してください。以下説明です。<br>
				　USER_ONRY:登録した本人のみが使用できます。<br>
				　COMMUNITY_ONRY:そのコミュニティのメンバーのみが使用できます。<br>
				　PUBLIC:全員が使用できます。</p>
			<p>⑨ 「登録する」ボタンを押してください。</p>
			<p>⑩ これで立ち絵が登録されました。続けて登録したい場合、画面右下の「戻る」という文字リンクをクリックしてください。</p>
			<p>⑪ 立ち絵が登録できたら、画面右上の <i class="fa fa-user"></i> をクリックしてください。</p>
			<p>⑫ 出て来たメニューから「キャラクターの新規作成」をクリックしてください。</p>
			<p>⑬ 必要事項を入力してください。以下説明です。<br>
				　・キャラクター名：キャラクター名です。<br>
				　・キャラクター説明：キャラクターの簡易説明を記入してください。<br>
				　・システム：TRPGのシステムを選択してください。<br>
				　・キャラクターイメージ：200x200のサイズでご用意ください。<br>
				　・パラメーター：自動で作成されます。<br>
				　<small>※自分で作成したデータがある場合、一度キャラクターを登録した後、画面下部にある「編集」という文字リンクをクリックし、該当箇所に上書きしてください。</small><br>
				　・プロフィール：キャラクターの来歴や過去などを書いてください。<br>
				　・メモ：持ち物や技能、魔法などを書いてください。<br>
				　・立ち絵：いくつでも選択できます。<br>
			</p>
			<p>⑭ 「登録する」ボタンをクリックしてください。</p>
			<p>⑭ これでキャラクターが登録されました！　次のステップに進んでください。</p>
		</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="true">
		<header>
			<h4>Step4.セッションに参加登録しよう！</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>① ついにセッション参加です。コミュニティのトップページに飛んでください。<br>
				　コミュニティのトップページは、コミュニティ一覧から、該当コミュニティの文字リンクをクリックするか、「表示」ボタンクリックで行けます。</p>
			<p>② コミュニティページの「New room」という枠があります。そこの「全て見る」ボタンをクリックしてください。</p>
			<p>③ ●●（コミュニティ名）のセッションルーム一覧ページが表示されます。<p>
			<p>④ 参加したいセッションルームの横にある、「このセッションに参加する」ボタンをクリックしてください。<br>
				　　セッションの詳細が知りたい場合、ルーム名の文字リンクか、右側にある「表示」ボタンをクリックすると、詳細が見れます。<br>
				　　そこで、「このセッションに参加する」ボタンを押してください。</p>
			<p>⑤ 立ち絵にわかりやすく名前をつけてください。</p>
			<p>⑥ エントリーフォームが表示されます。以下説明です。<br>
				　・役割：セッションでの役割です。通常「player」を選択してください。以下説明です。<br>
					　　player：プレイヤーです。キャラクターが必要です。<br>
					　　master：マスターです。キャラクターは必要有りません。<br>
					　　read_only：セッションをロムだけしたい方の役割です。キャラクターは必要有りません。<br>
				　・キャラクター名：ステップ３で作成したキャラクターを選択してください。</p>
			<p>⑦ 「登録する」ボタンを押してください。</p>
			<p>⑧ 確認ページが表示されます。</p>
			<p>⑨ 問題がなければ、これでセッションに参加することができるようになりました！　次のステップに進んでください。</p>
		</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="true">
		<header>
			<h4>Step5.セッションをやろう！</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>① セッション当日になったら、Step4で登録した部屋に、開始時刻前にはいるようにしましょう。<p>
			<p>② コミュニティのセッションルーム一覧から、「セッションルームへ」というボタンをクリックすれば、チャットができる部屋に飛べます。他、セッションルーム一覧の、文字リンクや「表示」ボタンの先のページからでも、「セッションルームに行く」ボタンがあります。</p>
			<p>③ 画面中央チャットログ表示スペースの下に、チャットのコメント入力フォームがあります。<p>
			<p>④ ここにコメントを入力し、エンターキー、あるいは「送信」ボタンをクリックすることで、チャットができます。</p>
			<p>⑤ コメント入力フォームのオレンジ色のボタンをクリックすると、立ち絵が変更できます。</p>
			<p>⑥ メインチャットのログは最大５００件ですが、画面再下部には、チャットのログが全て表示されています。</p>
			<p>⑦ 以上でとりあえずセッションチャットはできると思います。ダイスロールコマンドはまた別途。</p>
		</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="true">
		<header>
			<h4>Other. クトゥルフダイスロールコマンド</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>【xdy】　xに振る回数、yに何面体かをいれることでダイスが振れます。<br>
				　例）1d6：６面体ダイスを１回振る</p>
			<p>【技能名:数値】　技能の成功・失敗判定が出ます。<br>
				　例）【目星:25】</p>
			<p>【自分の値 vs 相手の値】対抗ロールができます。<br>
				　例）自分のSTR１５、相手のSTR１０で対抗ロールがしたい時　【15 vs 10】</p>
			<p>※必ず　【】　の中にコマンドを書いてください。</p>
		</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="true">
		<header>
			<h4>Step6.コミュニティを作成しよう！</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>Please wait....</p>
		</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget" data-widgster-collapsed="true">
		<header>
			<h4>Step7.セッションルームを作成しよう！</h4>
			<div class="widget-controls">
                <a data-widgster="expand" title="詳細" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="閉じる" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
		</header>
		<div class="body help_page">
			<p>Please wait....</p>
		</div>
		</section>
	</div>
</div>

<section class="widget">
  <ol class="breadcrumb">
	<li><%= link_to 'トップページ', root_path %></li>
	<li><%= link_to "戻る", :back %></li>
  </ol>
</section>
<div class="space01"></div>
</div>