<section class="widget">
    <header>
        <h5>
            <i class="fa fa-tasks"></i>
            チャットログ
        </h5>
    </header>
    <div class="body">
        <div class="panel-group" id="chat_log">
            <div class="panel">
                <div class="panel-heading">
                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#chat_log" href="#main_chat_log">メインチャットログ</a>
                </div>
                <div id="main_chat_log" class="accordion-body collapse slim-scroll" >
                    <div class="panel-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>