<div class="accordion" id="chat_log">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#chat_log" href="#collapseOne">Collapsible Group Item #1</a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">Anim pariatur cliche ...</div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#chat_log" href="#main_chat_log">メインチャットログ</a>
        </div>
        <div id="main_chat_log" class="accordion-body collapse slim-scroll" data-scroll-height="250px"> ... </div>
    </div>
</div>