<div class="modal" id="chat_log_dl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h4 class="modal-title">チャットログダウンロード</h4>
            </div>
            <div class="modal-body">
                <%= render "logs/download_form" %>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn">閉じる</a>
            </div>
        </div>
    </div>
</div>