<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="panel">
            <a href=""><i class="fa fa-edit"></i> <span class="name">My status</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#member"><i class="fa fa-eye "></i> <span class="name">Members</span></a>
            <ul id="member" class="panel-collapse collapse">
                <li><a href="">Member1</a></li>
                <li><a href="">Member2</a></li>
            </ul>
        </li>
        <li class="panel">
            <a href=""><i class="fa fa-file-text"></i> <span class="name">Public Memo</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#master_menu"><i class="fa fa-gamepad"></i> <span class="name">Master menu</span></a>
            <ul id="master_menu" class="panel-collapse collapse">
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#menu-levels-collapse" href="#scenario">シナリオ管理</a>
                    <ul id="scenario" class="panel-collapse collapse">
                        <li><a href="#">シナリオ新規作成</a></li>
                        <li><a href="#">シナリオを選択</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#menu-levels-collapse" href="#npc">NPC管理</a>
                    <ul id="npc" class="panel-collapse collapse">
                        <li><a href="#">NPC新規作成</a></li>
                        <li><a href="#">NPCを選択</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#menu-levels-collapse" href="#back_image">背景画像管理</a>
                    <ul id="back_image" class="panel-collapse collapse">
                        <li><%= link_to "背景画像新規登録", new_community_background_path %></li>
                        <li><a href="#">背景画像を選択</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#menu-levels-collapse" href="#movie">
                    動画・BGM・SE管理</a>
                    <ul id="movie" class="panel-collapse collapse">
                        <li class="panel">
                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                               data-parent="#sub-menu" href="#sub-movie01">動画管理</a>
                            <ul id="sub-movie01" class="panel-collapse collapse">
                                <li><a href="#">動画新規登録</a></li>
                                <li><a href="#">動画を選択</a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                               data-parent="#sub-menu" href="#sub-movie02">BGM管理</a>
                            <ul id="sub-movie02" class="panel-collapse collapse">
                                <li><a href="#">BGM新規登録</a></li>
                                <li><a href="#">BGMを選択</a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                               data-parent="#sub-menu" href="#sub-movie03">SE管理</a>
                            <ul id="sub-movie03" class="panel-collapse collapse">
                                <li><a href="#">SE新規登録</a></li>
                                <li><a href="#">SEを選択</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#log_dl"><i class="fa fa-arrow-circle-o-down"></i> <span class="name">Log DL</span></a>
            <ul id="log_dl" class="panel-collapse collapse">
                <li><button class="panel" data-target="#session_log" data-toggle="modal" type="button"><a>セッションログ</a></button></li>
                <li><a href="">その他</a></li>
            </ul>
        </li>
        <li class="visible-xs">
            <a data-target="#session_log"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
        
    </ul>
    <div id="sidebar-settings" class="settings">
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">Auto</button>
    </div>
</nav>

<%= render "playroom/main_chat_log" %>

<div id="session_log" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">チャットログダウンロード</h4>
            </div>
            <div class="modal-body">
                <%= render "logs/download_form" %>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

