<div class="widget-controls">
    <a data-widgster="load" title="Reload" href="#"><i class="glyphicon glyphicon-refresh"></i></a>
    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-plus"></i></a>
    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
 </div>