<section class="room">

	<%= hidden_field :room, :id, value: @room.id %>
	
	<!--  モバイル版のショートカットメニューがこれがあると表示されない <canvas id="background"></canvas> -->

	<%= render "chat/chat_form" %>

	<div class="space01"></div>
	<%= render "chat_log" %>

</section>

