<section class="room">


  <%= hidden_field :room, :id, value: @room.id %>
  <%= hidden_field :character, :id, value: @character.id  %>
    <div id="playspace_container">
    <canvas id="playspace"></canvas>
    </div>
    <section id="controller">
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <section class="widget tiny">
                    <div class="body">
                        <h4>立ち絵変更</h4>
                        <select name="illustrations" id="illustrations"></select>
                    </div>
                </section>
            </div>
        </div>
    </section>
	<%= render "chat/chat_form" %>

	<div class="space01"></div>
	<%= render "chat_log" %>

</section>

<script>
    window.chatLogClass = new ChatLogClass();
    window.playRoomClass = new PlayRoomClass($('#chat').data('uri'), true);
    window.chatClass = new ChatClass($('#chat').data('uri'), true);
    console.log("chat ready");
</script>

