<section class="room">

		  		
	<!-- Content -->
		<!-- <h1>プレイルーム</h1> -->
		<!-- <p>セッションページです。</p> -->
		<%= hidden_field :room, :id, value: @room.id %>
		
		<!--  モバイル版のショートカットメニューがこれがあると表示されない <canvas id="background"></canvas> -->

		<%= render "chat/chat_form" %>

		<div class="session_room_bottom">
			<button type="button" class="btn btn-danger btn-md"
	                                data-toggle="modal" data-target="#session_log">このセッションのログをダウンロードする</button>
	        <div id="session_log" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	            <div class="modal-dialog">
	                <div class="modal-content">

	                    <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                        <h4 class="modal-title" id="myModalLabel">チャットログダウンロード</h4>
	                    </div>
	                    <div class="modal-body">
	                        <%= render "logs/download_form" %>
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                        <button type="button" class="btn btn-primary">Save changes</button>
	                    </div>

	                </div><!-- /.modal-content -->
	            </div><!-- /.modal-dialog -->
	        </div>
			<div class="space01"></div>
			<%= render "chat_log" %>
		</div>

</section>

