<div class="container">
<h1>ロビー</h1>
<p>ロビー用チャットページです。</p>
<div class="space01"></div>

<%= hidden_field :room, :id, value: "0" %>
<%= render :partial => "chat/chat_form" %>
<div class="space01"></div>
<%= link_to "Home", welcome_index_path %>｜<%= link_to "Back", :back %>
<div class="space01"></div>
</div>

<script>
    window.chatClass = new ChatClass($('#chat').data('uri'), true);
    console.log("chat ready");
</script>