<div class="container">
<h1>コミュニティメンバーの編集</h1>
<p>コミュニティに登録されているメンバーの編集を行います。</p>
<div class="space01"></div>
<%= render 'form' %>
<div class="space01"></div>
<%= link_to '確認', [@communities_joining.community, @communities_joining] %> |
<%= link_to '戻る', community_joinings_path %>
<div class="space01"></div>
</div>