<div class="container">
<h1>コミュニティに参加する</h1>
<p>コミュニティメンバーになります。</p>
<div class="space01"></div>
<%= render 'form' %>
<div class="space01"></div>
<section class="widget">
 	<ol class="breadcrumb">
		<li><%= link_to '戻る', communities_path %></li>
	</ol>
</section>
</div>