	
		<!-- Main Container Fluid -->
	<div class="container-fluid fluid menu-left">
		
		<!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
		<div class="navbar main hidden-print">
		
			<!-- Wrapper -->
			<div class="wrapper">
			
							
								<!-- Menu Toggle Button -->
				<button type="button" class="btn btn-navbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<!-- // Menu Toggle Button END -->
								
								<!-- Top Menu -->
				<ul class="topnav pull-left tn1 hidden-phone">
				
										<!-- Themer -->
					<li><a href="#themer" data-toggle="collapse" class="glyphicons eyedropper single-icon"><i></i></a></li>
					<!-- // Themer END -->
										
										
					<li class="dropdown dd-1 dd-2">
						<a href="" data-toggle="dropdown">Notifications <span class="count">3</span></a>
						<ul class="dropdown-menu pull-left">
							<li><a href="#" class="glyphicons envelope"><i></i> New Email</a></li>
                            <li><a href="#" class="glyphicons chat"><i></i> 5 Messages</a></li>
                            <li><a href="#" class="glyphicons conversation"><i></i> 1 New Reply</a></li>
						</ul>
					</li>
					
				</ul>
				<!-- // Top Menu END -->
								
				<!-- Top Menu Right -->
				<ul class="topnav pull-right">
				
					<!-- Language menu -->
					<li class="hidden-phone dropdown dd-1 dd-flags" id="lang_nav">
						<a href="#" data-toggle="dropdown"><img src="../../../../common/theme/images/lang/en.png" alt="en" /></a>
				    	<ul class="dropdown-menu pull-left">
				      		<li class="active"><a href="?page=form_elements&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=en" title="English"><img src="../../../../common/theme/images/lang/en.png" alt="English"> English</a></li>
				      		<li><a href="?page=form_elements&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=ro" title="Romanian"><img src="../../../../common/theme/images/lang/ro.png" alt="Romanian"> Romanian</a></li>
				      		<li><a href="?page=form_elements&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=it" title="Italian"><img src="../../../../common/theme/images/lang/it.png" alt="Italian"> Italian</a></li>
				      		<li><a href="?page=form_elements&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=fr" title="French"><img src="../../../../common/theme/images/lang/fr.png" alt="French"> French</a></li>
				      		<li><a href="?page=form_elements&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=pl" title="Polish"><img src="../../../../common/theme/images/lang/pl.png" alt="Polish"> Polish</a></li>
				    	</ul>
					</li>
					<!-- // Language menu END -->
				
					<!-- Dropdown -->
					<li class="dropdown dd-1 visible-desktop">
						<a href="" data-toggle="dropdown" class="glyphicons shield"><i></i>Get Help <span class="caret"></span></a>
						<ul class="dropdown-menu pull-right">
							
							<li class="dropdown submenu">
	                    		<a href="#" class="dropdown-toggle glyphicons bell" data-toggle="dropdown"><i></i>Level 2</a>
								<ul class="dropdown-menu submenu-show submenu-hide pull-left">
			                        <li class="dropdown submenu">
			                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.1</a>
										<ul class="dropdown-menu submenu-show submenu-hide pull-left">
											<li><a href="#">Level 2.1.1</a></li>
	                                    	<li><a href="#">Level 2.1.2</a></li>
	                                    	<li><a href="#">Level 2.1.3</a></li>
	                                    	<li><a href="#">Level 2.1.4</a></li>
			                            </ul>
			                        </li>
			                        <li class="dropdown submenu">
			                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.2</a>
			                            <ul class="dropdown-menu submenu-show submenu-hide pull-left">
											<li><a href="#">Level 2.2.1</a></li>
			                                <li><a href="#">Level 2.2.2</a></li>
			                            </ul>
			                        </li>
			                    </ul>
			                </li>
			                
			                <li><a href="" class="glyphicons settings"><i></i>Some option</a></li>
							<li><a href="" class="glyphicons bell"><i></i>Some other option</a></li>
							<li><a href="" class="glyphicons bell"><i></i>Other option</a></li>
			                
						</ul>
					</li>
					<!-- // Dropdown END -->
					
					<!-- Profile / Logout menu -->
					<li class="account dropdown dd-1">
												<a data-toggle="dropdown" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons logout lock"><span class="hidden-phone">mosaicpro</span><i></i></a>
						<ul class="dropdown-menu pull-right">
							<li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons cogwheel">Settings<i></i></a></li>
							<li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons camera">My Photos<i></i></a></li>
							<li class="profile">
								<span>
									<span class="heading">Profile <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="pull-right">edit</a></span>
									<span class="img"></span>
									<span class="details">
										<a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light">Mosaic Pro</a>
										contact@mosaicpro.biz
									</span>
									<span class="clearfix"></span>
								</span>
							</li>
							<li>
								<span>
									<a class="btn btn-default btn-mini pull-right" href="login.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light">Sign Out</a>
								</span>
							</li>
						</ul>
											</li>
					<!-- // Profile / Logout menu END -->
					
				</ul>
				<!-- // Top Menu Right END -->
				
								
				<div class="clearfix"></div>
			</div>
			<!-- // Wrapper END -->
			
			<span class="toggle-navbar"></span>
		</div>
		<!-- Top navbar END -->
		
				<!-- Sidebar menu & content wrapper -->
		<div id="wrapper">
		
		<!-- Sidebar Menu -->
		<div id="menu" class="hidden-phone hidden-print">
		
			<!-- Brand -->
			<a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="appbrand">Ergo <span>Admin UI Template (v1.2)</span></a>
		
			<!-- Scrollable menu wrapper with Maximum height -->
			<div class="slim-scroll" data-scroll-height="800px">
			
			<!-- Sidebar Profile -->
			<span class="profile">
				<p>Welcome <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light">mosaicpro</a></p>
				<a class="img" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><img src="../../../../common/theme/images/avatar-style-light.jpg" alt="Avatar" /></a>
				<span>
					<ul>
						<li><a href="" class="glyphicons lock"><i></i>Account</a></li>
						<li><a href="" class="glyphicons keys"><i></i>Password</a></li>
						<li><a href="" class="glyphicons eject"><i></i>Logout</a></li>
					</ul>
				</span>
			</span>
			<!-- // Sidebar Profile END -->
			
			<!-- Regular Size Menu -->
			<ul class="menu-0">
			
								
								<!-- Menu Regular Item -->
				<li class="glyphicons display"><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Dashboard</span></a></li>
				
				<!-- Components Submenu Level 1 -->
				<li class="hasSubmenu glyphicons cogwheels active">
					<a data-toggle="collapse" href="#menu_components"><i></i><span>Components</span></a>
					<ul class="collapse in" id="menu_components">
						
						<!-- Components Submenu Level 2 -->
						<li class="hasSubmenu active">
							<a data-toggle="collapse" href="#menu_forms"><span>Forms</span></a>
							<ul class="collapse in" id="menu_forms">
								<li class=""><a href="form_wizards.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Form Wizards</span></a></li>
								<li class=" active"><a href="form_elements.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Form Elements</span></a></li>
								<li class=""><a href="form_validator.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Form Validator</span></a></li>
								<li class=""><a href="file_managers.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>File Managers</span></a></li>
							</ul>
							<span class="count">4</span>
						</li>
						<!-- // Components Submenu Level 2 END -->
						
						<!-- Components Submenu Regular Items -->
						<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>UI Elements</span></a></li>
						<li class=""><a href="icons.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Icons</span></a></li>
						<li class=""><a href="widgets.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Widgets</span></a></li>
						<li class=""><a href="tabs.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Tabs</span></a></li>
						<li class=""><a href="sliders.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Sliders</span></a></li>
						<li class=""><a href="charts.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Charts</span></a></li>
						<!-- // Components Submenu Regular Items END -->
						
						<!-- Components Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_tables"><span>Tables</span></a>
							<ul class="collapse" id="menu_tables">
								<li class=""><a href="tables.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Tables</span></a></li>
								<li class=""><a href="pricing_tables.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Pricing tables</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Components Submenu Level 2 -->
						
						<!-- Components Submenu Regular Items -->
						<li class=""><a href="grid.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Grid system</span></a></li>
						<li class=""><a href="notifications.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Notifications</span></a></li>
						<li class=""><a href="modals.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Modals</span></a></li>
						<li class=""><a href="thumbnails.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Thumbnails</span></a></li>
						<li class=""><a href="carousels.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Carousels</span></a></li>
						<li class=""><a href="tour.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Page Tour</span></a></li>
						<!-- // Components Submenu Regular Items END -->
						
					</ul>
					<span class="count">18</span>
				</li>
				<!-- Components Submenu Level 1 END -->
				
				<!-- Exmaples Submenu Level 1 -->
				<li class="hasSubmenu">
				
					<a data-toggle="collapse" class="glyphicons luggage" href="#menu_examples"><i></i><span>Examples</span></a>
					<ul class="collapse" id="menu_examples">
					
						<!-- Account Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_account"><i></i><span>Account</span></a>
							<ul class="collapse" id="menu_account">
								<li class=""><a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Advanced profile</span></a></li>
								<li class=""><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>My Account</span></a></li>
								<li><a href="login.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Login</span></a></li>
								<li><a href="signup.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Register</span></a></li>
							</ul>
							<span class="count">4</span>
						</li>
						<!-- // Account Submenu Level 2 END -->
						
						<!-- Landings Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_landings"><i></i><span>Landing pages</span></a>
							<ul class="collapse" id="menu_landings">
								<li><a href="landing_page_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Landing #1</span></a></li>
								<li><a href="landing_page_2.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Landing #2</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Landings Submenu Level 2 END -->
					
						<!-- Examples Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_gallery"><i></i><span>Photo Gallery</span></a>
							<ul class="collapse" id="menu_gallery">
								<li class=""><a href="gallery_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Regular</span></a></li>
								<li class=""><a href="gallery_2.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Masonry</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Examples Submenu Level 2 END -->
						
						<!-- Examples Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_maps"><i></i><span>Maps</span></a>
							<ul class="collapse" id="menu_maps">
								<li class=""><a href="maps_vector.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Vector maps</span></a></li>
								<li class=""><a href="maps_google.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Google maps</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Examples Submenu Level 2 END -->
						
						<!-- Examples Submenu Regular Items -->
						<li class=""><a href="invoice.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Invoice</span></a></li>
						<li class=""><a href="faq.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>FAQ</span></a></li>
						<li class=""><a href="calendar.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Calendar</span></a></li>
						<!-- // Examples Submenu Regular Items END -->
						
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_ecommerce"><i></i><span>Online Shop</span></a>
							
							<!-- Closed by default -->
							<ul class="collapse" id="menu_ecommerce">
								<li class="hasSubmenu">
									<a data-toggle="collapse" href="#menu_ecommerce_client"><i></i><span>Client interface</span></a>
									<ul class="collapse" id="menu_ecommerce_client">
										<li class=""><a href="shop_client_products.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Products</span></a></li>
										<li class=""><a href="shop_client_product.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Product details</span></a></li>
										<li class=""><a href="shop_client_cart.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Shopping cart</span></a></li>
									</ul>
									<span class="count">3</span>
								</li>
								<li class="hasSubmenu">
									<a data-toggle="collapse" href="#menu_ecommerce_admin"><i></i><span>Management</span></a>
									<ul class="collapse" id="menu_ecommerce_admin">
										<li class=""><a href="shop_admin_products.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Products</span></a></li>
										<li class=""><a href="shop_admin_product.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Add product</span></a></li>
									</ul>
									<span class="count">2</span>
								</li>
							</ul>
							<span class="count">5</span>
						</li>
						
						<li class=""><a href="bookings.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Bookings</span></a></li>
						<li class=""><a href="finances.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Finances</span></a></li>
						<li class=""><a href="pages.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Site Pages</span></a></li>
						<li><a href="error.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Error page</span></a></li>
						<li><a href="blank.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Blank page</span></a></li>
						
					</ul>
					<span class="count">21</span>
				</li>
				<!-- // Examples Submenu Level 1 END -->
								
			</ul>
			<div class="clearfix"></div>
			<!-- // Regular Size Menu END -->
			
			<ul class="menu-1">
				<li class="hasSubmenu active">
					<a class="glyphicons wifi_alt" href="#menu-recent-stats" data-toggle="collapse"><i></i><span>Recent stats</span></a>
					<ul class="collapse in" id="menu-recent-stats">
						<li><a class="glyphicons envelope" href="#"><i></i><span>5 New Emails</span></a></li>
						<li><a class="glyphicons chat" href="#"><i></i><span>New Message on 19 Jan</span></a></li>
						<li><a class="glyphicons user_add" href="#"><i></i><span>10 Users Subscribed</span></a></li>
						<li><a class="glyphicons cart_in" href="#"><i></i><span>2 Orders worth of &dollar;239</span></a></li>
						<li><a class="glyphicons single circle_plus" href="#"><i></i><span>View all</span></a></li>
					</ul>
				</li>
			</ul>
			<div class="clearfix"></div>
			<div class="separator bottom"></div>
			
						<!-- Sidebar Stats Widgets -->
			<div class="widget-sidebar-stats">
				<strong>3,540</strong>
				<span>Messages</span>
				<span class="pull-right sparkline"></span>
				<div class="clearfix"></div>
			</div>
			<div class="widget-sidebar-stats">
				<strong>2,510,402</strong>
				<span>Photos</span>
				<span class="pull-right sparkline"></span>
				<div class="clearfix"></div>
			</div>
			<div class="separator bottom"></div>
			<!-- // Sidebar Stats Widgets END -->
			
			<!-- Stats Widget -->
			<a href="" class="widget-stats widget-stats-2 widget-stats-easy-pie widget-sidebar-stats txt-single">
				<div data-percent="90" class="easy-pie primary"><span class="value">90</span>%</div>
				<span class="txt">Completed tasks</span>
				<div class="clearfix"></div>
			</a>
			<!-- // Stats Widget END -->
			
			<div class="widget-sidebar-stats">
				<h5>Generic widget</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
						
						
						
			</div>
			<!-- // Scrollable Menu wrapper with Maximum Height END -->
			
		</div>
		<!-- // Sidebar Menu END -->
				
		<!-- Content -->
		<div id="content"">
	<div class="innerLR innerT">

	<!-- Widget -->
	<div class="widget">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h3 class="heading">Form Elements</h3>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
			<p>There are various form elements contained in Ergo, custom select controls, custom checkbox &amp; radio controls, custom input controls with &amp; without appended / prepended elements (icons, dropdowns, dropups, groups), toggle (on/off) buttons, icons &amp; many more.</p>
		</div>
	</div>
	<!-- // Widget END -->
	
	<h3>Input controls</h3>
	
	<!-- Row -->
	<div class="row-fluid">
	
		<!-- Column -->
		<div class="span6">
		
			<!-- Widget -->
			<div class="widget" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Default</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body">
					<div class="row-fluid">
						<input type="text" placeholder="Text input" class="span12" />
					</div>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget row-fluid" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Extended</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body">
					<div class="input-prepend">
					  	<span class="add-on">@</span>
					  	<input id="prependedInput" class="span12" type="text" placeholder="Username" />
					</div>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget row-fluid" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Combined</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body">
					<div class="input-prepend input-append">
						<span class="add-on">$</span>
						<input class="span12" id="appendedPrependedInput" type="text" placeholder="100,000,000" /> 
						<span class="add-on">.00</span>
					</div>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Checkbox</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body uniformjs">
					<label class="checkbox">
						<input type="checkbox" class="checkbox" value="1" />
						Option 1 - Sexy checkbox
					</label>
					<label class="checkbox">
						<input type="checkbox" class="checkbox" value="1" checked="checked" />
						Option 2 - Checked
					</label>
					<label class="checkbox">
						<input type="checkbox" class="checkbox" value="1" disabled="disabled" />
						Option 3 - Disabled checkbox
					</label>
				</div>
			</div>
			<!-- // Widget END -->
		
		</div>
		<!-- // Column END -->
		
		<!-- Column -->
		<div class="span6">
		
			<!-- Widget -->
			<div class="widget row-fluid" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Buttons</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body">
					<div class="input-append">
					  	<input class="span6" id="appendedInputButtons" type="text" placeholder="Placeholder .." />
					  	<button class="btn btn-default" type="button"><i class="icon-search"></i></button>
					  	<button class="btn btn-default" type="button">Options</button>
					</div>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget row-fluid" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Dropdown / Dropup</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body">
					<div class="input-append">
						<input class="span8" id="appendedDropdownButton" type="text" />
						<div class="btn-group dropup">
							<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Action <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget row-fluid" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Segmented Groups</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body">
					<div class="input-append">
						<input type="text" class="span7" />
						<div class="btn-group dropup">
							<button class="btn btn-default" tabindex="-1">Action</button>
							<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget" data-toggle="collapse-widget">
	
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Radio</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body uniformjs">
					<label class="radio">
						<input type="radio" class="radio" name="radio" value="1" />
						Option 1 - Sexy radio
					</label><br/>
					<label class="radio">
						<input type="radio" class="radio" name="radio" value="1" checked="checked" />
						Option 2 - Checked
					</label><br/>
					<label class="radio">
						<input type="radio" class="radio disabled" name="radio" value="1" disabled="disabled" />
						Option 3 - Disabled radio
					</label>
				</div>
			</div>
			<!-- // Widget END -->
		
		</div>
		<!-- // Column END -->
		
	</div>
	<!-- // Row END -->
	
	<!-- Widget -->
	<div class="widget">
		
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">File controls</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
			<div class="row-fluid">
				<div class="span6">
					<h3>File upload widget</h3>
					<div class="fileupload fileupload-new" data-provides="fileupload">
					  	<div class="input-append">
					    	<div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-default btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
					  	</div>
					</div>
				</div>
				<div class="span6">
					<h3>File upload button</h3>
					<div class="fileupload fileupload-new" data-provides="fileupload">
					  	<span class="btn btn-default btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" /></span>
					  	<span class="fileupload-preview"></span>
					  	<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- // Widget END -->

	<!-- Widget -->
	<div class="widget row-fluid">
		
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">WYSIHTML5 Editor</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
			<textarea id="mustHaveId" class="wysihtml5 span12" rows="5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</textarea>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Toggle buttons</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body center">
			<div class="toggle-button">
				<input type="checkbox" checked="checked" />
			</div>
			<div class="toggle-button" data-toggleButton-style-enabled="info">
				<input type="checkbox" checked="checked" />
			</div>
			<div class="toggle-button" data-toggleButton-style-enabled="warning">
				<input type="checkbox" checked="checked" />
			</div>
			<div class="toggle-button" data-toggleButton-style-enabled="danger">
				<input type="checkbox" checked="checked" />
			</div>
			<div class="toggle-button" data-toggleButton-style-enabled="success">
				<input type="checkbox" checked="checked" />
			</div>
			<div class="toggle-button"
				data-toggleButton-style-custom-enabled-background="#3F4246"
				data-toggleButton-style-custom-enabled-gradient="#000000">
				<input type="checkbox" checked="checked" />
			</div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Row -->
	<div class="row-fluid">
	
		<!-- Column -->
		<div class="span6">
		
			<!-- Widget -->
			<div class="widget">
			
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Loading button</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body center">
					<button type="button" id="btn-loading" class="btn btn-primary" data-loading-text="Custom Loading Text ...">Click for Loading state</button>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget">
			
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Toggle button</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body center">
					<button type="button" class="btn btn-primary" data-toggle="button">Single Toggle</button>
				</div>
			</div>
			<!-- // Widget END -->
		
		</div>
		<!-- // Column END -->
		
		<!-- Column -->
		<div class="span6">
		
			<!-- Widget -->
			<div class="widget">
			
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Toggle checkbox style</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body center">
					<div class="btn-group" data-toggle="buttons-checkbox">
						<button type="button" class="btn btn-primary">Left</button>
						<button type="button" class="btn btn-primary">Middle</button>
						<button type="button" class="btn btn-primary">Right</button>
					</div>
				</div>
			</div>
			<!-- // Widget END -->
			
			<!-- Widget -->
			<div class="widget">
			
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Toggle radio style</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body center">
					<div class="btn-group" data-toggle="buttons-radio">
						<button type="button" class="btn btn-primary">Left</button>
						<button type="button" class="btn btn-primary">Middle</button>
						<button type="button" class="btn btn-primary">Right</button>
					</div>
				</div>
			</div>
			<!-- // Widget END -->
		
		</div>
		<!-- // Column END -->
		
	</div>
	<!-- // Row END -->
	
	<!-- Widget -->
	<div class="widget">
		
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Select controls</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
			<div class="row-fluid">
				<div class="span3">
					<h5>Default</h5>
					<div class="row-fluid">
						<select class="span12">
							<optgroup label="Picnic">
								<option>Mustard</option>
								<option>Ketchup</option>
								<option>Relish</option>
							</optgroup>
							<optgroup label="Camping">
								<option>Tent</option>
								<option>Flashlight</option>
								<option>Toilet Paper</option>
							</optgroup>
						</select>
					</div>
					<hr/>
					<h5>Extended</h5>
					<div class="row-fluid">
						<select class="selectpicker span12">
							<optgroup label="Picnic">
								<option>Mustard</option>
								<option>Ketchup</option>
								<option>Relish</option>
							</optgroup>
							<optgroup label="Camping">
								<option>Tent</option>
								<option>Flashlight</option>
								<option>Toilet Paper</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="span5">
					<h5>Styles</h5>
					<div class="row-fluid">
						<select class="selectpicker span6" data-style="btn-primary">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select> 
						<select class="selectpicker span6" data-style="btn-default">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>
					</div>
					<div class="row-fluid">
						<select class="selectpicker span6" data-style="btn-info">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>
						<select class="selectpicker span6" data-style="btn-success">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>
					</div>
					<div class="row-fluid">
						<select class="selectpicker span6" data-style="btn-warning">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select> 
						<select class="selectpicker span6" data-style="btn-inverse">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>
					</div>
				</div>
				<div class="span4">
					<h5>Grid</h5>
					<div class="row-fluid">
						<select class="selectpicker span3">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select> 
						<select class="selectpicker span9">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>
					</div>
					<div class="row-fluid">
						<select class="selectpicker span4">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select> 
						<select class="selectpicker span8">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>
					</div>
					<div class="row-fluid">
						<select class="selectpicker span6">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select> 
						<select class="selectpicker span6">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>
					</div>
				</div>
			</div>
		
		</div>
	</div>
	<!-- // Widget END -->
	
	<div class="widget">
		<div class="widget-head">
			<h4 class="heading">Advanced Select controls</h4>
		</div>
		<div class="widget-body">
			<div class="row-fluid">
				<div class="span6">
					<h5>Basics</h5>
					<div class="row-fluid">
						<select style="width: 100%;" id="select2_1">
			               <optgroup label="Alaskan/Hawaiian Time Zone">
			                   <option value="AK">Alaska</option>
			                   <option value="HI">Hawaii</option>
			               </optgroup>
			               <optgroup label="Pacific Time Zone">
			                   <option value="CA">California</option>
			                   <option value="NV">Nevada</option>
			                   <option value="OR">Oregon</option>
			                   <option value="WA">Washington</option>
			               </optgroup>
			               <optgroup label="Mountain Time Zone">
			                   <option value="AZ">Arizona</option>
			                   <option value="CO">Colorado</option>
			                   <option value="ID">Idaho</option>
			                   <option value="MT">Montana</option><option value="NE">Nebraska</option>
			                   <option value="NM">New Mexico</option>
			                   <option value="ND">North Dakota</option>
			                   <option value="UT">Utah</option>
			                   <option value="WY">Wyoming</option>
			               </optgroup>
			               <optgroup label="Central Time Zone">
			                   <option value="AL">Alabama</option>
			                   <option value="AR">Arkansas</option>
			                   <option value="IL">Illinois</option>
			                   <option value="IA">Iowa</option>
			                   <option value="KS">Kansas</option>
			                   <option value="KY">Kentucky</option>
			                   <option value="LA">Louisiana</option>
			                   <option value="MN">Minnesota</option>
			                   <option value="MS">Mississippi</option>
			                   <option value="MO">Missouri</option>
			                   <option value="OK">Oklahoma</option>
			                   <option value="SD">South Dakota</option>
			                   <option value="TX">Texas</option>
			                   <option value="TN">Tennessee</option>
			                   <option value="WI">Wisconsin</option>
			               </optgroup>
			               <optgroup label="Eastern Time Zone">
			                   <option value="CT">Connecticut</option>
			                   <option value="DE">Delaware</option>
			                   <option value="FL">Florida</option>
			                   <option value="GA">Georgia</option>
			                   <option value="IN">Indiana</option>
			                   <option value="ME">Maine</option>
			                   <option value="MD">Maryland</option>
			                   <option value="MA">Massachusetts</option>
			                   <option value="MI">Michigan</option>
			                   <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
			                   <option value="NY">New York</option>
			                   <option value="NC">North Carolina</option>
			                   <option value="OH">Ohio</option>
			                   <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
			                   <option value="VT">Vermont</option><option value="VA">Virginia</option>
			                   <option value="WV">West Virginia</option>
			               </optgroup>
			        	</select>
					</div>
					<div class="separator bottom"></div>
					<h5>Multi-Value Select Boxes</h5>
					<div class="row-fluid">
						<select multiple="multiple" style="width: 100%;" id="select2_2">
			               <optgroup label="Alaskan/Hawaiian Time Zone">
			                   <option value="AK">Alaska</option>
			                   <option value="HI">Hawaii</option>
			               </optgroup>
			               <optgroup label="Pacific Time Zone">
			                   <option value="CA">California</option>
			                   <option value="NV">Nevada</option>
			                   <option value="OR">Oregon</option>
			                   <option value="WA">Washington</option>
			               </optgroup>
			               <optgroup label="Mountain Time Zone">
			                   <option value="AZ">Arizona</option>
			                   <option value="CO">Colorado</option>
			                   <option value="ID">Idaho</option>
			                   <option value="MT">Montana</option><option value="NE">Nebraska</option>
			                   <option value="NM">New Mexico</option>
			                   <option value="ND">North Dakota</option>
			                   <option value="UT">Utah</option>
			                   <option value="WY">Wyoming</option>
			               </optgroup>
			               <optgroup label="Central Time Zone">
			                   <option value="AL">Alabama</option>
			                   <option value="AR">Arkansas</option>
			                   <option value="IL">Illinois</option>
			                   <option value="IA">Iowa</option>
			                   <option value="KS">Kansas</option>
			                   <option value="KY">Kentucky</option>
			                   <option value="LA">Louisiana</option>
			                   <option value="MN">Minnesota</option>
			                   <option value="MS">Mississippi</option>
			                   <option value="MO">Missouri</option>
			                   <option value="OK">Oklahoma</option>
			                   <option value="SD">South Dakota</option>
			                   <option value="TX">Texas</option>
			                   <option value="TN">Tennessee</option>
			                   <option value="WI">Wisconsin</option>
			               </optgroup>
			               <optgroup label="Eastern Time Zone">
			                   <option value="CT">Connecticut</option>
			                   <option value="DE">Delaware</option>
			                   <option value="FL">Florida</option>
			                   <option value="GA">Georgia</option>
			                   <option value="IN">Indiana</option>
			                   <option value="ME">Maine</option>
			                   <option value="MD">Maryland</option>
			                   <option value="MA">Massachusetts</option>
			                   <option value="MI">Michigan</option>
			                   <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
			                   <option value="NY">New York</option>
			                   <option value="NC">North Carolina</option>
			                   <option value="OH">Ohio</option>
			                   <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
			                   <option value="VT">Vermont</option><option value="VA">Virginia</option>
			                   <option value="WV">West Virginia</option>
			               </optgroup>
			        	</select>
					</div>
					<div class="separator bottom"></div>
					<h5>Placeholders</h5>
					<div class="row-fluid">
						<select style="width: 100%;" id="select2_3">
							<option></option>
							<optgroup label="Alaskan/Hawaiian Time Zone">
			                   <option value="AK">Alaska</option>
			                   <option value="HI">Hawaii</option>
			               </optgroup>
			               <optgroup label="Pacific Time Zone">
			                   <option value="CA">California</option>
			                   <option value="NV">Nevada</option>
			                   <option value="OR">Oregon</option>
			                   <option value="WA">Washington</option>
			               </optgroup>
			               <optgroup label="Mountain Time Zone">
			                   <option value="AZ">Arizona</option>
			                   <option value="CO">Colorado</option>
			                   <option value="ID">Idaho</option>
			                   <option value="MT">Montana</option><option value="NE">Nebraska</option>
			                   <option value="NM">New Mexico</option>
			                   <option value="ND">North Dakota</option>
			                   <option value="UT">Utah</option>
			                   <option value="WY">Wyoming</option>
			               </optgroup>
			               <optgroup label="Central Time Zone">
			                   <option value="AL">Alabama</option>
			                   <option value="AR">Arkansas</option>
			                   <option value="IL">Illinois</option>
			                   <option value="IA">Iowa</option>
			                   <option value="KS">Kansas</option>
			                   <option value="KY">Kentucky</option>
			                   <option value="LA">Louisiana</option>
			                   <option value="MN">Minnesota</option>
			                   <option value="MS">Mississippi</option>
			                   <option value="MO">Missouri</option>
			                   <option value="OK">Oklahoma</option>
			                   <option value="SD">South Dakota</option>
			                   <option value="TX">Texas</option>
			                   <option value="TN">Tennessee</option>
			                   <option value="WI">Wisconsin</option>
			               </optgroup>
			               <optgroup label="Eastern Time Zone">
			                   <option value="CT">Connecticut</option>
			                   <option value="DE">Delaware</option>
			                   <option value="FL">Florida</option>
			                   <option value="GA">Georgia</option>
			                   <option value="IN">Indiana</option>
			                   <option value="ME">Maine</option>
			                   <option value="MD">Maryland</option>
			                   <option value="MA">Massachusetts</option>
			                   <option value="MI">Michigan</option>
			                   <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
			                   <option value="NY">New York</option>
			                   <option value="NC">North Carolina</option>
			                   <option value="OH">Ohio</option>
			                   <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
			                   <option value="VT">Vermont</option><option value="VA">Virginia</option>
			                   <option value="WV">West Virginia</option>
			               </optgroup>
			        	</select>
			        	<div class="separator bottom"></div>
						<select multiple="multiple" style="width: 100%;" id="select2_4">
			               <optgroup label="Alaskan/Hawaiian Time Zone">
			                   <option value="AK">Alaska</option>
			                   <option value="HI">Hawaii</option>
			               </optgroup>
			               <optgroup label="Pacific Time Zone">
			                   <option value="CA">California</option>
			                   <option value="NV">Nevada</option>
			                   <option value="OR">Oregon</option>
			                   <option value="WA">Washington</option>
			               </optgroup>
			               <optgroup label="Mountain Time Zone">
			                   <option value="AZ">Arizona</option>
			                   <option value="CO">Colorado</option>
			                   <option value="ID">Idaho</option>
			                   <option value="MT">Montana</option><option value="NE">Nebraska</option>
			                   <option value="NM">New Mexico</option>
			                   <option value="ND">North Dakota</option>
			                   <option value="UT">Utah</option>
			                   <option value="WY">Wyoming</option>
			               </optgroup>
			               <optgroup label="Central Time Zone">
			                   <option value="AL">Alabama</option>
			                   <option value="AR">Arkansas</option>
			                   <option value="IL">Illinois</option>
			                   <option value="IA">Iowa</option>
			                   <option value="KS">Kansas</option>
			                   <option value="KY">Kentucky</option>
			                   <option value="LA">Louisiana</option>
			                   <option value="MN">Minnesota</option>
			                   <option value="MS">Mississippi</option>
			                   <option value="MO">Missouri</option>
			                   <option value="OK">Oklahoma</option>
			                   <option value="SD">South Dakota</option>
			                   <option value="TX">Texas</option>
			                   <option value="TN">Tennessee</option>
			                   <option value="WI">Wisconsin</option>
			               </optgroup>
			               <optgroup label="Eastern Time Zone">
			                   <option value="CT">Connecticut</option>
			                   <option value="DE">Delaware</option>
			                   <option value="FL">Florida</option>
			                   <option value="GA">Georgia</option>
			                   <option value="IN">Indiana</option>
			                   <option value="ME">Maine</option>
			                   <option value="MD">Maryland</option>
			                   <option value="MA">Massachusetts</option>
			                   <option value="MI">Michigan</option>
			                   <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
			                   <option value="NY">New York</option>
			                   <option value="NC">North Carolina</option>
			                   <option value="OH">Ohio</option>
			                   <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
			                   <option value="VT">Vermont</option><option value="VA">Virginia</option>
			                   <option value="WV">West Virginia</option>
			               </optgroup>
			        	</select>
					</div>
				</div>
				<div class="span6">
					<h5>Tagging Support</h5>
					<input type="hidden" id="select2_5" style="width: 100%;" value="brown,red,green" />
					<div class="separator bottom"></div>
					<h5>Disabled Mode</h5>
			        <select disabled="disabled" id="select2_6_1" style="width:100%">
			        	<optgroup label="Alaskan/Hawaiian Time Zone">
			                   <option value="AK">Alaska</option>
			                   <option value="HI">Hawaii</option>
			               </optgroup>
			               <optgroup label="Pacific Time Zone">
			                   <option value="CA">California</option>
			                   <option value="NV">Nevada</option>
			                   <option value="OR">Oregon</option>
			                   <option value="WA">Washington</option>
			               </optgroup>
			               <optgroup label="Mountain Time Zone">
			                   <option value="AZ">Arizona</option>
			                   <option value="CO">Colorado</option>
			                   <option value="ID">Idaho</option>
			                   <option value="MT">Montana</option><option value="NE">Nebraska</option>
			                   <option value="NM">New Mexico</option>
			                   <option value="ND">North Dakota</option>
			                   <option value="UT">Utah</option>
			                   <option value="WY">Wyoming</option>
			               </optgroup>
			               <optgroup label="Central Time Zone">
			                   <option value="AL">Alabama</option>
			                   <option value="AR">Arkansas</option>
			                   <option value="IL">Illinois</option>
			                   <option value="IA">Iowa</option>
			                   <option value="KS">Kansas</option>
			                   <option value="KY">Kentucky</option>
			                   <option value="LA">Louisiana</option>
			                   <option value="MN">Minnesota</option>
			                   <option value="MS">Mississippi</option>
			                   <option value="MO">Missouri</option>
			                   <option value="OK">Oklahoma</option>
			                   <option value="SD">South Dakota</option>
			                   <option value="TX">Texas</option>
			                   <option value="TN">Tennessee</option>
			                   <option value="WI">Wisconsin</option>
			               </optgroup>
			               <optgroup label="Eastern Time Zone">
			                   <option value="CT">Connecticut</option>
			                   <option value="DE">Delaware</option>
			                   <option value="FL">Florida</option>
			                   <option value="GA">Georgia</option>
			                   <option value="IN">Indiana</option>
			                   <option value="ME">Maine</option>
			                   <option value="MD">Maryland</option>
			                   <option value="MA">Massachusetts</option>
			                   <option value="MI">Michigan</option>
			                   <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
			                   <option value="NY">New York</option>
			                   <option value="NC">North Carolina</option>
			                   <option value="OH">Ohio</option>
			                   <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
			                   <option value="VT">Vermont</option><option value="VA">Virginia</option>
			                   <option value="WV">West Virginia</option>
			               </optgroup>
			        </select>
			        <div class="separator bottom"></div>
					<select disabled="disabled" id="select2_6_2" multiple style="width:100%">
						<optgroup label="Alaskan/Hawaiian Time Zone">
			                   <option value="AK">Alaska</option>
			                   <option value="HI">Hawaii</option>
			               </optgroup>
			               <optgroup label="Pacific Time Zone">
			                   <option value="CA">California</option>
			                   <option value="NV">Nevada</option>
			                   <option value="OR">Oregon</option>
			                   <option value="WA">Washington</option>
			               </optgroup>
			               <optgroup label="Mountain Time Zone">
			                   <option value="AZ">Arizona</option>
			                   <option value="CO">Colorado</option>
			                   <option value="ID">Idaho</option>
			                   <option value="MT">Montana</option><option value="NE">Nebraska</option>
			                   <option value="NM">New Mexico</option>
			                   <option value="ND">North Dakota</option>
			                   <option value="UT">Utah</option>
			                   <option value="WY">Wyoming</option>
			               </optgroup>
			               <optgroup label="Central Time Zone">
			                   <option value="AL">Alabama</option>
			                   <option value="AR">Arkansas</option>
			                   <option value="IL">Illinois</option>
			                   <option value="IA">Iowa</option>
			                   <option value="KS">Kansas</option>
			                   <option value="KY">Kentucky</option>
			                   <option value="LA">Louisiana</option>
			                   <option value="MN">Minnesota</option>
			                   <option value="MS">Mississippi</option>
			                   <option value="MO">Missouri</option>
			                   <option value="OK">Oklahoma</option>
			                   <option value="SD">South Dakota</option>
			                   <option value="TX">Texas</option>
			                   <option value="TN">Tennessee</option>
			                   <option value="WI">Wisconsin</option>
			               </optgroup>
			               <optgroup label="Eastern Time Zone">
			                   <option value="CT">Connecticut</option>
			                   <option value="DE">Delaware</option>
			                   <option value="FL">Florida</option>
			                   <option value="GA">Georgia</option>
			                   <option value="IN">Indiana</option>
			                   <option value="ME">Maine</option>
			                   <option value="MD">Maryland</option>
			                   <option value="MA">Massachusetts</option>
			                   <option value="MI">Michigan</option>
			                   <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
			                   <option value="NY">New York</option>
			                   <option value="NC">North Carolina</option>
			                   <option value="OH">Ohio</option>
			                   <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
			                   <option value="VT">Vermont</option><option value="VA">Virginia</option>
			                   <option value="WV">West Virginia</option>
			               </optgroup>
					</select>
					<div class="separator bottom"></div>
					<input type="button" id="select2_6_enable" class="btn btn-primary" value="Enable"/> 
					<input type="button" id="select2_6_disable" class="btn btn-warning" value="Disable"/>
					<div class="separator bottom"></div>
					<h5>Templating</h5>
					<select style="width: 100%;" id="select2_7">
						<optgroup label="Alaskan/Hawaiian Time Zone">
							<option value="AK">Alaska</option>
							<option value="HI">Hawaii</option>
						</optgroup>
						<optgroup label="Pacific Time Zone">
							<option value="CA">California</option>
							<option value="NV">Nevada</option>
							<option value="OR">Oregon</option>
							<option value="WA">Washington</option>
						</optgroup>
						<optgroup label="Mountain Time Zone">
							<option value="AZ">Arizona</option>
							<option value="CO">Colorado</option>
							<option value="ID">Idaho</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NM">New Mexico</option>
							<option value="ND">North Dakota</option>
							<option value="UT">Utah</option>
							<option value="WY">Wyoming</option>
						</optgroup>
						<optgroup label="Central Time Zone">
							<option value="AL">Alabama</option>
							<option value="AR">Arkansas</option>
							<option value="IL">Illinois</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="OK">Oklahoma</option>
							<option value="SD">South Dakota</option>
							<option value="TX">Texas</option>
							<option value="TN">Tennessee</option>
							<option value="WI">Wisconsin</option>
						</optgroup>
						<optgroup label="Eastern Time Zone">
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="IN">Indiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="OH">Ohio</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WV">West Virginia</option>
						</optgroup>
					</select>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row -->
	<div class="row-fluid">
	
		<!-- Column -->
		<div class="span6">
		
			<!-- Widget -->
			<div class="widget">
				
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Color picker</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body center">
					
					<label class="control-label">Color picker</label>
					<input type="text" id="colorpickerColor" value="#5a6a87" />
					<div id="colorpicker"></div>
						
				</div>
			</div>
			<!-- // Widget END -->
		
		</div>
		<!-- // Column END -->
		
		<!-- Column -->
		<div class="span6">
		
			<!-- Widget -->
			<div class="widget">
				
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Date picker</h4>
				</div>
				<!-- // Widget heading END -->
				
				<div class="widget-body">
					
					<label>Date picker</label>
					<input type="text" id="datepicker" value="" />
					
					<label>Inline Date picker</label>
					<div id="datepicker-inline"></div>
					
				</div>
			</div>
			<!-- // Widget END -->
		
		</div>
		<!-- // Column END -->
		
	</div>
	<!-- // Row END -->

	<h3>Date/Time Picker</h3>
	
	<div class="row-fluid">
		<div class="span4">
			<div class="well">
				<h4>Default input</h4>
				<input class="span12" size="16" type="text" value="2013-02-14 10:00" id="datetimepicker1" />
			</div>
		</div>
		<div class="span4">
			<div class="well">
				<h4>Default component</h4>
				<div class="input-append date" id="datetimepicker2">
				    <input class="span12" size="16" type="text" value="14 February 2013 - 10:00" />
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="well">
				<h4>Positioning</h4>
				<div class="input-append date" id="datetimepicker3">
				    <input class="span10" type="text" value="14 February 2013 - 10:00" />
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div class="well">
				<h4>Advanced</h4>
				<div class="input-append date" id="datetimepicker4">
				    <input type="text" value="14 February 2013 - 10:00" />
				    <span class="add-on"><i class="icon-remove"></i></span>
		    		<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="well">
				<h4>Meridian format</h4>
				<div class="input-append date" id="datetimepicker5">
				    <input type="text" value="14 February 2013 - 10:00" />
				    <span class="add-on"><i class="icon-remove"></i></span>
		    		<span class="add-on"><i class="icon-th"></i></span>
				</div>
			</div>
		</div>
	</div>
	
</div>	
	
		
		</div>
		<!-- // Content END -->
		
				</div>
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->
				
		<div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<div class="copy">&copy; 2012 - 2013 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/item/ergo-admin-ui-template/4602755?ref=mosaicpro" target="_blank">Purchase Ergo on ThemeForest</a> - Current version: v1.2 / <a target="_blank" href="http://demo.mosaicpro.biz/ergoadmin/CHANGELOG">changelog</a></div>
			<!--  End Copyright Line -->
	
		</div>
		<!-- // Footer END -->
		
	</div>
	<!-- // Main Container Fluid END -->
	

<!-- Themer -->
<div id="themer" class="collapse">
	<div class="wrapper">
		<span class="close2">&times; close</span>
		<h4>Themer <span>color options</span></h4>
		<ul>
			<li>Theme: <select id="themer-theme" class="pull-right"></select><div class="clearfix"></div></li>
			<li>Primary Color: <input type="text" data-type="minicolors" data-default="#ffffff" data-slider="hue" data-textfield="false" data-position="left" id="themer-primary-cp" /><div class="clearfix"></div></li>
			<li>
				<span class="link" id="themer-custom-reset">reset theme</span>
				<span class="pull-right"><label>advanced <input type="checkbox" value="1" id="themer-advanced-toggle" /></label></span>
			</li>
		</ul>
		<div id="themer-getcode" class="hide">
			<hr class="separator" />
			<button class="btn btn-primary btn-small pull-right btn-icon glyphicons download" id="themer-getcode-less"><i></i>Get LESS</button>
			<button class="btn btn-inverse btn-small pull-right btn-icon glyphicons download" id="themer-getcode-css"><i></i>Get CSS</button>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- // Themer END -->
