<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
	    	<div class="col-md-7">
				<h1>Sabatora</h1>
		        <p>TRPGオンラインセッション用ツール"さばとら"</p>
		        <div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				   現在テスト中です。
				</div>
	    	</div>
	        <div class="col-md-5">
			    さばとらイメージ画像
			</div>
		</div>
		<div class="space01"></div>

		<div class="row">
	    	<div class="col-xs-12 col-md-offset-4 col-md-4">
		        <p>
		        	<%= link_to 'さばとらをはじめる', new_user_registration_path, :class=>"btn btn-block btn-lg btn-primary" %>
		        </p>
		    </div>
	    </div>
	    <div class="space01"></div>
	    <!-- Main component for a primary marketing message or call to action -->
	    	
	        <div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#step1">
			          <h3>現在できることリスト<small>文字クリックで縮小できます。</small></h3>
			        </a>
			      </h4>
			    </div>
			    <div id="step1" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>・ユーザー登録　<span class="label label-success">クリア</span></p>
			        <p>・マイページが作成される</p>
			        <p>・セッション参加記録がつく</p>
			        <p>・アバターが登録できる</p>
			        <p>・コミュニティに登録できる</p>
			        <p>・コミュニティページが作成できる</p>
			        <p>・コミュニティページにメンバーページが作成できる</p>
			        <p>・コミュニティに登録できる</p>
			        <p>・部屋が作成できる</p>
			        <p>・作成したキャラを登録できる</p>
			        <p>・背景が登録できる</p>
			        <p>・マップが作成できる</p>
			        <p>・シーン管理ができる</p>
			        <p>・キャラが作成できる</p>
			        <p>・キャラシートが作成できる</p>
			        <p>・画像がアップロードできる</p>
			        <p>・能力値を記録できる</p>
			        <p>・メモ欄がある</p>
			        <p>・部屋内でチャットができる</p>
			        <p>・ロビーでチャットができる</p>
			        <p>・個人チャットができる</p>
			        <p>・ダイスが振れる（値に偏りがない）</p>
			        <p>・ダイスを振ると、成功・失敗したかの判定が出る</p>
			        <p>・システム上でキャラの能力値を最低限作成できる</p>
			        <p>・セッションログがダウンロードできる</p>
			        <p>・セッションログのHTML出力ができる</p>
			      </div>
			    </div>
			  </div>
			</div>
    </div>
</div>
<div class="space01"></div>
	    	