<div class="container">
<h1>キャラクターの編集</h1>
<p>登録したキャラクターの編集をします。</p>
<div class="space01"></div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget">
			<%= render 'form' %>
		</section>
	</div>
</div>
<div class="space01"></div>
<section class="widget">
  <ol class="breadcrumb">
    <li><%= link_to '確認', @character %><li>
	<li><%= link_to 'キャラクター一覧', characters_path %></li>
	<li><%= link_to "戻る", :back %></li>
</div>
