<div class="container">
<h1>新しくキャラクターを登録する</h1>
<p>キャラクターを新規に作成し、登録します。</p>
<div class="space01"></div>
<%= render 'form' %>
<div class="space01"></div>
<%= link_to '戻る', characters_path %>
<div class="space01"></div>
</div>