<h1>セッションルームの編集</h1>
<p>セッションルームの編集を行います。</p>
<div class="space01"></div>
<%= render 'form' %>
<div class="space01"></div>
<%= link_to '確認', [@community, @room] %> |
<%= link_to "Back", :back %>
<div class="space01"></div>