<div class="container">
<h1>セッションルームの編集</h1>
<p>セッションルームの編集を行います。</p>
<div class="space01"></div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget">
			<%= render 'form' %>
		</section>
	</div>
</div>
<div class="space01"></div>
<section class="widget">
 	<ol class="breadcrumb">
		<li><%= link_to '確認', [@community, @room] %></li>
		<li><%= link_to "戻る", :back %></li>
	</ol>
</section>
</div>