<div class="container">
<h1>新しくセッションルームを作成する</h1>
<p>新しいセッションルームを作成します。</p>
<div class="space01"></div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<section class="widget">
			<%= render 'form' %>
            <br>
            <%= render "settings" %>
		</section>
	</div>
</div>

<div class="space01"></div>
<section class="widget">
 	<ol class="breadcrumb">
		<li><%= link_to 'セッションルーム一覧', community_rooms_path(@community) %></li>
		<li><%= link_to "戻る", :back %></li>
	</ol>
</section>
</div>