<h1>プレイルーム</h1>
<p>セッションページです。</p>
<div class="space01"></div>
<%= hidden_field :room, :id, value: @room.id %>

<%= render "chat/chat_form" %>
<div class="space01"></div>

<script>
  $(document).ready( function(){
  window.chatClass = new ChatClass($('#chat').data('uri'), true);
  });
</script>
