@import "compass";

$font-size-base: 13px !default;


/* テーブル調整 */
table{
	.center{ text-align: center;}
}

/* 改行でなくスペースをとりたい時用 */
.space-top{
	margin: 125px
}
.space01{
	padding: 16px;
}
.space02{
	padding: 32px;
}

/* formの間隔調整 */
div.field{
	padding-bottom: 10px;
}

/*
	コミュニティトップ
*/
section.community-top{

}
section.community-main{

}

/*
    マイページ
*/
section.mypage{
    margin-top: -20px!important;

    .container-fluid{
        padding-left: 0;
        padding-right: 0;
        width: 100%; 
    }

    p.status{
        margin: 10px;
        color: white;
        font-size: 80%;
    }

}

/*
    Light-blue 修正
*/
.carousel-landing {
    height: auto;
    overflow: hidden;
}


.widget {
    h1, h2, h3, h4, h5, h6 {
	color: white;
    }
    color: white;
}
