body {
  
}

.navbar-static-top {
  margin-bottom: 19px;
}
/* ヘッダー部分の文字の感覚調整 */
.head{
	padding: 16px;
}

/* テーブル調整 */
table{
	.center{ text-align: center;}
}

/* 改行でなくスペースをとりたい時用 */
.space01{
	padding: 16px;
}
.space02{
	padding: 32px;
}

/* formの間隔調整 */
div.field{
	padding-bottom: 10px;
}


#chat{
	padding: 12px 16px;
	font-size: 15px;
	height: 400px;
	width: 100%;
	overflow-y: scroll; 
	overflow-x: hidden;

	p{
		font-weight: bold;

    span.private {
	color: blue;
    }
    span.system {
	color: green;
    }

}
