@import "compass";

/* セッションルーム */
section.room{
    min-height: 100%;
    height: 100%;
    position: relative;

    .container-fluid{
        padding-left: 0;
        padding-right: 0;
        width: 100%; 
    }

    p.status{
        margin: 10px;
        color: white;
        font-size: 80%;
    }

    /* チャット部分のデザイン */
    #chat{
        padding: 12px 16px;
        margin: auto auto 10px;  
        font-size: 120%;
        // min-height: 80%;
        // max-height: 500px;
        width: 80%;
        height: 500px;
        min-height: 250px;
        overflow: scroll;
        overflow-x: hidden;  
        border: none;
        background: #000;
        display: block;
        filter:alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;

        dt{
            border-bottom: none;
            padding: 5px;
            padding-left: 10px;
            font-weight: normal;
            color: green;
        }

        dd{
            border-top: none;
            padding: 5px 35px;
            font-weight: bold;
            color:white;
        }

        dt.private {
        color: blue;
        }
        dt.system {
        color: green;
        }

    }

    span.right{
        text-align: right;
    }

    #input-chat{
        margin: 0 auto 2%;  
        width: 80%;

        #username {
            display: none;
        }
    }
    //     
    // チャットログ
    // 
    #main_chat_log {

        dl{
            max-height: 250px;
            overflow: scroll;
            overflow-x: hidden;
            padding: 10px;
            margin-bottom: 0px!important;
        }
        dd{
            padding: 4px;
            font-weight: bold;
        }
        dt{
            float:left;
            padding: 4px;
            font-weight: normal;
            color: green;
        }
    }

    div.accordion{
        margin: 0 0 0px;
    }
    div.accordion-heading{
        border-bottom: 1px solid #d8d8d8;
    }

}


    div.session_room_bottom{
        padding: 12px 16px;
        margin: 10% auto 10px;  
        width: 85%;
        position: relative;
    }

