<p><%= @resource.email %></p>

<p>パスワードを変更するためのリンクが要求されました。下のリンクをクリックしてください。パスワードの変更ができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合、このメールを破棄してください。</p>
<p>あなたが上記のリンクにアクセスするまで、パスワードが変更され、新しいものを作成することはありません。</p>
