<div class="container">
<h1>エントリー</h1>
<p>セッションに参加します。</p>
<div class="space01"></div>
<%= render 'form' %>
<div class="space01"></div>
<%= link_to '戻る', community_room_players_path(@community, @room) %>
<div class="space01"></div>
</div>
