  <div class="row">
    <div class="col-sm-offset-4 col-sm-4 col-xs-12">
        <%= link_to "このコミュニティに参加する", new_community_joining_path(@community), :class=>"btn btn-primary  btn-lg" %>
    </div>
  </div>
