<div class="container">
<h1>コミュニティの編集</h1>
<p>コミュニティを編集します。</p>
<div class="space01"></div>
<%= render 'form' %>
<div class="space01"></div>
<%= link_to 'コミュニティー一覧', communities_path %>|<%= link_to "戻る", :back %>
<div class="space01"></div>
</div>
