<div id="menu" class="hidden-phone hidden-print">
			
	<!-- Scrollable menu wrapper with Maximum height -->
	<div class="slim-scroll" data-scroll-height="800px">
			
		<!-- Sidebar Profile -->
		<span class="profile">
			<p>Welcome <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><%= current_user.name %></strong></p></a></p>
			<a class="img" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><%= image_tag("ergo/avatar-style-light.jpg") %></a>
			<span>
				<ul>
					<li><a href="" class="glyphicons lock"><i></i>ユーザー名</a></li>
					<li><a href="" class="glyphicons keys"><i></i>キャラクター名orROM</a></li>
					<li><a href="" class="glyphicons eject"><i></i>Logout</a></li>
				</ul>
			</span>
		</span>
		<!-- // Sidebar Profile END -->
				
		<!-- Regular Size Menu -->
		<ul class="menu-0">

			<!-- Menu Regular Item -->
			<li class="glyphicons user"><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>My Page Top</span></a></li>
			<li class="glyphicons note"><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>My Communities</span></a></li>
				
			<!-- Components Submenu Level 1 -->
			<li class="hasSubmenu glyphicons parents active">
				<a data-toggle="collapse" href="#menu_components"><i></i><span>My Characters</span></a>
				<ul class="collapse in" id="menu_components">
					<!-- Components Submenu Regular Items -->
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>キャラクター新規作成</span></a></li>
					<!-- // Components Submenu Regular Items END -->
					<!-- Components Submenu Regular Items -->
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>キャラクターリスト</span></a></li>
					<!-- // Components Submenu Regular Items END -->		
				</ul>
				<span class="count">2</span>
			</li>
			<!-- Components Submenu Level 1 END -->

			<!-- Components Submenu Level 1 -->
			<li class="hasSubmenu glyphicons calendar">
				<a href="#menu_member"><i></i><span>Schedule</span></a>
			</li>
			<!-- Components Submenu Level 1 END -->

			<!-- Components Submenu Level 1 -->
			<li class="hasSubmenu glyphicons heart active">
				<a data-toggle="collapse" href="#menu_friend"><i></i><span>Friends</span></a>
				<ul class="collapse in" id="menu_friend">

					<!-- Components Submenu Regular Items -->
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>フレンド新規登録</span></a></li>
					<!-- // Components Submenu Regular Items END -->
					<!-- Components Submenu Regular Items -->
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>フレンドリスト</span></a></li>
					<!-- // Components Submenu Regular Items END -->
					
				</ul>
				<span class="count">2</span>
			</li>
			<!-- Components Submenu Level 1 END -->

			<!-- Components Submenu Level 1 -->
			<li class="hasSubmenu glyphicons envelope active">
				<a data-toggle="collapse" href="#menu_message"><i></i><span>Message</span></a>
				<ul class="collapse in" id="menu_message">

					<!-- Components Submenu Regular Items -->
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>メッセージ作成</span></a></li>
					<!-- // Components Submenu Regular Items END -->
					<!-- Components Submenu Regular Items -->
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>メッセージリスト</span></a></li>
					<!-- // Components Submenu Regular Items END -->
					
				</ul>
				<span class="count">2</span>
			</li>
			<!-- Components Submenu Level 1 END -->

			<!-- Menu Regular Item -->
			<li class="glyphicons comments"><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Member Chat</span></a></li>

			<li class="hasSubmenu glyphicons conversation">
				<a href="#menu_member"><i></i><span>Participated Session</span></a>
			</li>
			<li class="hasSubmenu glyphicons crown">
				<a href="#menu_member"><i></i><span>Trophy List</span></a>
			</li>
				
			<!-- Components Submenu Level 1 -->
			<li class="hasSubmenu glyphicons playing_dices active">
				<a data-toggle="collapse" href="#menu_master"><i></i><span>Master Menu</span></a>
				<ul class="collapse in" id="menu_master">
					
					<!-- Components Submenu Regular Items -->
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>シナリオ管理</span></a></li>
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>NPC管理</span></a></li>
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>マップ管理</span></a></li>
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>背景画像管理</span></a></li>
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>動画管理</span></a></li>
					<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>BGM/SE管理</span></a></li>

				</ul>
				<span class="count">4</span>
			</li>
			<!-- Components Submenu Level 1 END -->
									
		</ul>
		<div class="clearfix"></div>
		<!-- // Regular Size Menu END -->				
	</div>
	<!-- // Scrollable Menu wrapper with Maximum Height END -->					
</div>
<!-- // Sidebar Menu END -->
