    <div id="footer" class="hidden-print">
      
      <!--  Copyright Line -->
      <div class="copy">&copy; 2012 - 2013 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/item/ergo-admin-ui-template/4602755?ref=mosaicpro" target="_blank">Purchase Ergo on ThemeForest</a> - Current version: v1.2 / <a target="_blank" href="http://demo.mosaicpro.biz/ergoadmin/CHANGELOG">changelog</a></div>
      <!--  End Copyright Line -->
  
    </div>
    <!-- // Footer END -->
