<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="panel">
            <%= link_to edit_profile_path(current_user.profile), :class=>"link" do %>
              <i class="fa fa-user"></i> <span class="name">プロフィール編集</span>
            <% end %>
        </li>

        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#chara"><i class="fa fa-users "></i> <span class="name">キャラクター管理</span></a>
            <ul id="chara" class="panel-collapse collapse">
                <li>
                    <%= link_to new_character_path, :class=>"link" do %>
                        <span class="name">キャラクターの<br>新規作成</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to characters_path, :class=>"link" do %>
                        <span class="name">キャラクター一覧</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li class="panel">
            <a href=""><i class="fa fa-calendar"></i> <span class="name">スケジュール</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#friends"><i class="fa fa-heart"></i> <span class="name">フレンド</span></a>
            <ul id="friends" class="panel-collapse collapse">
                <li><a href="#">フレンド登録</a></li>
                <li><a href="#">フレンド一覧</a></li>
            </ul>
        </li>
        <li class="panel">
            <a href=""><i class="fa fa-trophy"></i> <span class="name">称号一覧</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#message"><i class="fa fa-envelope"></i> <span class="name">メッセージ</span></a>
            <ul id="message" class="panel-collapse collapse">
                <li><a href="#">メッセージ作成</a></li>
                <li><a href="#">メッセージ一覧</a></li>
            </ul>
        </li>

        <li class="visible-xs">
            <a data-target="#session_log"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
        
    </ul>
    <div id="sidebar-settings" class="settings">
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">Auto</button>
    </div>
</nav>

<%= render "playroom/main_chat_log" %>

    