        <ul class="topnav pull-right">
        
          <!-- Language menu -->
          <li class="hidden-phone dropdown dd-1 dd-flags" id="lang_nav">
            <a href="#" data-toggle="dropdown"><img src="../../../../common/theme/images/lang/en.png" alt="en" /></a>
              <ul class="dropdown-menu pull-left">
                  <li class="active"><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=en" title="English"><img src="../../../../common/theme/images/lang/en.png" alt="English"> English</a></li>
                  <li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=ro" title="Romanian"><img src="../../../../common/theme/images/lang/ro.png" alt="Romanian"> Romanian</a></li>
                  <li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=it" title="Italian"><img src="../../../../common/theme/images/lang/it.png" alt="Italian"> Italian</a></li>
                  <li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=fr" title="French"><img src="../../../../common/theme/images/lang/fr.png" alt="French"> French</a></li>
                  <li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=pl" title="Polish"><img src="../../../../common/theme/images/lang/pl.png" alt="Polish"> Polish</a></li>
              </ul>
          </li>
          <!-- // Language menu END -->
        
          <!-- Dropdown -->
          <li class="dropdown dd-1 visible-desktop">
            <a href="" data-toggle="dropdown" class="glyphicons shield"><i></i>Get Help <span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
              
              <li class="dropdown submenu">
                          <a href="#" class="dropdown-toggle glyphicons bell" data-toggle="dropdown"><i></i>Level 2</a>
                <ul class="dropdown-menu submenu-show submenu-hide pull-left">
                              <li class="dropdown submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.1</a>
                    <ul class="dropdown-menu submenu-show submenu-hide pull-left">
                      <li><a href="#">Level 2.1.1</a></li>
                                        <li><a href="#">Level 2.1.2</a></li>
                                        <li><a href="#">Level 2.1.3</a></li>
                                        <li><a href="#">Level 2.1.4</a></li>
                                  </ul>
                              </li>
                              <li class="dropdown submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.2</a>
                                  <ul class="dropdown-menu submenu-show submenu-hide pull-left">
                      <li><a href="#">Level 2.2.1</a></li>
                                      <li><a href="#">Level 2.2.2</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      
                      <li><a href="" class="glyphicons settings"><i></i>Some option</a></li>
              <li><a href="" class="glyphicons bell"><i></i>Some other option</a></li>
              <li><a href="" class="glyphicons bell"><i></i>Other option</a></li>
                      
            </ul>
          </li>
          <!-- // Dropdown END -->
          
          <!-- Profile / Logout menu -->
          <li class="account dropdown dd-1">
                        <a data-toggle="dropdown" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons logout lock"><span class="hidden-phone">mosaicpro</span><i></i></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons cogwheel">Settings<i></i></a></li>
              <li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons camera">My Photos<i></i></a></li>
              <li class="profile">
                <span>
                  <span class="heading">Profile <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="pull-right">edit</a></span>
                  <span class="img"></span>
                  <span class="details">
                    <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light">Mosaic Pro</a>
                    contact@mosaicpro.biz
                  </span>
                  <span class="clearfix"></span>
                </span>
              </li>
              <li>
                <span>
                  <a class="btn btn-default btn-mini pull-right" href="login.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light">Sign Out</a>
                </span>
              </li>
            </ul>
                      </li>
          <!-- // Profile / Logout menu END -->
          
        </ul>
