<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="ie gt-ie8"> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
<head>
	<title>Ergo - Admin &amp; App UI Template (v1.2)</title>
	
	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	
	<!-- Bootstrap -->
	<link href="../../../../common/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="../../../../common/bootstrap/css/responsive.css" rel="stylesheet" />
	
	<!-- Glyphicons Font Icons -->
	<link href="../../../../common/theme/css/glyphicons.css" rel="stylesheet" />
	
	<!-- Uniform Pretty Checkboxes -->
	<link href="../../../../common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />
	
	<!-- Main Theme Stylesheet :: CSS -->
	<link href="../../../../common/theme/css/style-light.css?1369753444" rel="stylesheet" />
	
	
	<!-- LESS.js Library -->
	<script src="../../../../common/theme/scripts/plugins/system/less.min.js"></script>
</head>
<body class="">
	
		<!-- Main Container Fluid -->
	<div class="container-fluid fluid menu-right">
		
		<!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
		<div class="navbar main hidden-print">
		
			<!-- Wrapper -->
			<div class="wrapper">
			
							
								<!-- Menu Toggle Button -->
				<button type="button" class="btn btn-navbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<!-- // Menu Toggle Button END -->
								
								
				<!-- Top Menu Right -->
				<ul class="topnav pull-right">
				
					<!-- Language menu -->
					<li class="hidden-phone dropdown dd-1 dd-flags" id="lang_nav">
						<a href="#" data-toggle="dropdown"><img src="../../../../common/theme/images/lang/en.png" alt="en" /></a>
				    	<ul class="dropdown-menu pull-left">
				      		<li class="active"><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light&amp;lang=en" title="English"><img src="../../../../common/theme/images/lang/en.png" alt="English"> English</a></li>
				      		<li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light&amp;lang=ro" title="Romanian"><img src="../../../../common/theme/images/lang/ro.png" alt="Romanian"> Romanian</a></li>
				      		<li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light&amp;lang=it" title="Italian"><img src="../../../../common/theme/images/lang/it.png" alt="Italian"> Italian</a></li>
				      		<li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light&amp;lang=fr" title="French"><img src="../../../../common/theme/images/lang/fr.png" alt="French"> French</a></li>
				      		<li><a href="?page=blank&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light&amp;lang=pl" title="Polish"><img src="../../../../common/theme/images/lang/pl.png" alt="Polish"> Polish</a></li>
				    	</ul>
					</li>
					<!-- // Language menu END -->
				
					<!-- Dropdown -->
					<li class="dropdown dd-1 visible-desktop">
						<a href="" data-toggle="dropdown" class="glyphicons shield"><i></i>Get Help <span class="caret"></span></a>
						<ul class="dropdown-menu pull-right">
							
							<li class="dropdown submenu">
	                    		<a href="#" class="dropdown-toggle glyphicons bell" data-toggle="dropdown"><i></i>Level 2</a>
								<ul class="dropdown-menu submenu-show submenu-hide pull-left">
			                        <li class="dropdown submenu">
			                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.1</a>
										<ul class="dropdown-menu submenu-show submenu-hide pull-left">
											<li><a href="#">Level 2.1.1</a></li>
	                                    	<li><a href="#">Level 2.1.2</a></li>
	                                    	<li><a href="#">Level 2.1.3</a></li>
	                                    	<li><a href="#">Level 2.1.4</a></li>
			                            </ul>
			                        </li>
			                        <li class="dropdown submenu">
			                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.2</a>
			                            <ul class="dropdown-menu submenu-show submenu-hide pull-left">
											<li><a href="#">Level 2.2.1</a></li>
			                                <li><a href="#">Level 2.2.2</a></li>
			                            </ul>
			                        </li>
			                    </ul>
			                </li>
			                
			                <li><a href="" class="glyphicons settings"><i></i>Some option</a></li>
							<li><a href="" class="glyphicons bell"><i></i>Some other option</a></li>
							<li><a href="" class="glyphicons bell"><i></i>Other option</a></li>
			                
						</ul>
					</li>
					<!-- // Dropdown END -->
					
					<!-- Profile / Logout menu -->
					<li class="account dropdown dd-1">
												<a data-toggle="dropdown" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light" class="glyphicons logout lock"><span class="hidden-phone">mosaicpro</span><i></i></a>
						<ul class="dropdown-menu pull-right">
							<li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light" class="glyphicons cogwheel">Settings<i></i></a></li>
							<li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light" class="glyphicons camera">My Photos<i></i></a></li>
							<li class="profile">
								<span>
									<span class="heading">Profile <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light" class="pull-right">edit</a></span>
									<span class="img"></span>
									<span class="details">
										<a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light">Mosaic Pro</a>
										contact@mosaicpro.biz
									</span>
									<span class="clearfix"></span>
								</span>
							</li>
							<li>
								<span>
									<a class="btn btn-default btn-mini pull-right" href="login.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light">Sign Out</a>
								</span>
							</li>
						</ul>
											</li>
					<!-- // Profile / Logout menu END -->
					
				</ul>
				<!-- // Top Menu Right END -->
				
								
				<div class="clearfix"></div>
			</div>
			<!-- // Wrapper END -->
			
			<span class="toggle-navbar"></span>
		</div>
		<!-- Top navbar END -->
		
				<!-- Sidebar menu & content wrapper -->
		<div id="wrapper">
		
		<!-- Sidebar Menu -->
		<div id="menu" class="hidden-phone hidden-print">
		
			<!-- Brand -->
			<a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light" class="appbrand">Ergo <span>Admin UI Template (v1.2)</span></a>
		
			<!-- Scrollable menu wrapper with Maximum height -->
			<div class="slim-scroll" data-scroll-height="800px">
			
			<!-- Sidebar Profile -->
			<span class="profile">
				<p>Welcome <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light">mosaicpro</a></p>
				<a class="img" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light"><img src="../../../../common/theme/images/avatar-style-light.jpg" alt="Avatar" /></a>
				<span>
					<ul>
						<li><a href="" class="glyphicons lock"><i></i>Account</a></li>
						<li><a href="" class="glyphicons keys"><i></i>Password</a></li>
						<li><a href="" class="glyphicons eject"><i></i>Logout</a></li>
					</ul>
				</span>
			</span>
			<!-- // Sidebar Profile END -->
			
			<!-- Regular Size Menu -->
			<ul class="menu-0">
			
								<!-- Blank page template menu example -->
				<!-- Menu Regular Item (add class active to LI for an active menu item) -->
				<li class="glyphicons right_arrow"><a href="#"><i></i><span>Menu item</span></a></li>
				
				<!-- Submenu Level 1 (closed) -->
				<li class="hasSubmenu glyphicons right_arrow">
					<a data-toggle="collapse" href="#submenu-1"><i></i><span>Menu item</span></a>
					<ul class="collapse" id="submenu-1">
						
						<!-- Submenu Level 2 (closed) -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#submenu-1-2"><span>Menu item</span></a>
							<ul class="collapse" id="submenu-1-2">
								<li><a href="#"><span>Menu item</span></a></li>
								<li><a href="#"><span>Menu item</span></a></li>
								<li><a href="#"><span>Menu item</span></a></li>
							</ul>
							<span class="count">3</span>
						</li>
						<!-- // Submenu Level 2 (closed) END -->
						
						<!-- Submenu Level 1 Regular Items -->
						<li><a href="#"><span>Menu item</span></a></li>
						<li><a href="#"><span>Menu item</span></a></li>
						<!-- // Submenu Level 1 Regular Items END -->
						
					</ul>
					<span class="count">5</span>
				</li>
				<!-- // Submenu Level 1 END -->
				
				<!-- Submenu Level 1 (active) -->
				<li class="hasSubmenu glyphicons right_arrow active">
					<a data-toggle="collapse" href="#submenu-11"><i></i><span>Menu item</span></a>
					<ul class="collapse in" id="submenu-11">
						
						<!-- Submenu Level 2 (active) -->
						<li class="hasSubmenu active">
							<a data-toggle="collapse" href="#submenu-11-2"><span>Menu item</span></a>
							<ul class="collapse in" id="submenu-11-2">
								<li class="active"><a href="#"><span>Menu item</span></a></li>
								<li><a href="#"><span>Menu item</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Submenu Level 2 (active) END -->
						
						<!-- Submenu Level 1 Regular Items -->
						<li><a href="#"><span>Menu item</span></a></li>
						<li><a href="#"><span>Menu item</span></a></li>
						<!-- // Submenu Level 1 Regular Items END -->
						
					</ul>
					<span class="count">4</span>
				</li>
				<!-- // Submenu Level 1 (active) END -->
				<!-- // Blank page template menu example END -->
								
								
			</ul>
			<div class="clearfix"></div>
			<!-- // Regular Size Menu END -->
			
			<ul class="menu-1">
				<li class="hasSubmenu active">
					<a class="glyphicons wifi_alt" href="#menu-recent-stats" data-toggle="collapse"><i></i><span>Recent stats</span></a>
					<ul class="collapse in" id="menu-recent-stats">
						<li><a class="glyphicons envelope" href="#"><i></i><span>5 New Emails</span></a></li>
						<li><a class="glyphicons chat" href="#"><i></i><span>New Message on 19 Jan</span></a></li>
						<li><a class="glyphicons user_add" href="#"><i></i><span>10 Users Subscribed</span></a></li>
						<li><a class="glyphicons cart_in" href="#"><i></i><span>2 Orders worth of &dollar;239</span></a></li>
						<li><a class="glyphicons single circle_plus" href="#"><i></i><span>View all</span></a></li>
					</ul>
				</li>
			</ul>
			<div class="clearfix"></div>
			<div class="separator bottom"></div>
			
						
						
						
			</div>
			<!-- // Scrollable Menu wrapper with Maximum Height END -->
			
		</div>
		<!-- // Sidebar Menu END -->
				
		<!-- Content -->
		<div id="content"">
	<h3>Blank page</h3>
<p>This is a light-weight blank page, with minimum to none plugins loaded, a simpler menu example and perfect to get you started, as you build up your next cool web app. You can <a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-right&amp;style=style-light" class="glyphicons single link"><i></i>return to the fully featured version</a> anytime.</p>	
	
		
		</div>
		<!-- // Content END -->
		
				</div>
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->
				
		<div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<div class="copy">&copy; 2012 - 2013 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/item/ergo-admin-ui-template/4602755?ref=mosaicpro" target="_blank">Purchase Ergo on ThemeForest</a> - Current version: v1.2 / <a target="_blank" href="http://demo.mosaicpro.biz/ergoadmin/CHANGELOG">changelog</a></div>
			<!--  End Copyright Line -->
	
		</div>
		<!-- // Footer END -->
		
	</div>
	<!-- // Main Container Fluid END -->
	

<!-- Themer -->
<div id="themer" class="collapse">
	<div class="wrapper">
		<span class="close2">&times; close</span>
		<h4>Themer <span>color options</span></h4>
		<ul>
			<li>Theme: <select id="themer-theme" class="pull-right"></select><div class="clearfix"></div></li>
			<li>Primary Color: <input type="text" data-type="minicolors" data-default="#ffffff" data-slider="hue" data-textfield="false" data-position="left" id="themer-primary-cp" /><div class="clearfix"></div></li>
			<li>
				<span class="link" id="themer-custom-reset">reset theme</span>
				<span class="pull-right"><label>advanced <input type="checkbox" value="1" id="themer-advanced-toggle" /></label></span>
			</li>
		</ul>
		<div id="themer-getcode" class="hide">
			<hr class="separator" />
			<button class="btn btn-primary btn-small pull-right btn-icon glyphicons download" id="themer-getcode-less"><i></i>Get LESS</button>
			<button class="btn btn-inverse btn-small pull-right btn-icon glyphicons download" id="themer-getcode-css"><i></i>Get CSS</button>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- // Themer END -->

	<!-- JQuery -->
	<script src="../../../../common/theme/scripts/plugins/system/jquery.min.js"></script>
	
	
	<!-- Modernizr -->
	<script src="../../../../common/theme/scripts/plugins/system/modernizr.js"></script>
	
	<!-- Bootstrap -->
	<script src="../../../../common/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- SlimScroll Plugin -->
	<script src="../../../../common/theme/scripts/plugins/other/jquery-slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- Common Demo Script -->
	<script src="../../../../common/theme/scripts/demo/common.js?1369753444"></script>
	
	<!-- Holder Plugin -->
	<script src="../../../../common/theme/scripts/plugins/other/holder/holder.js"></script>
	
	<!-- Uniform Forms Plugin -->
	<script src="../../../../common/theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>

	
	
</body>
</html>